<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pi4HomeApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DF6F9C5973270E2A1AEEEC37048363B8F2DE8587</string>
				<key>dateExpires</key>
				<string>07.05.19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF6F9C5973270E2A1AEEEC37048363B8F2DE8587</string>
						<key>dateExpires</key>
						<string>07.05.19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5ES55SHH2E</string>
						<key>name</key>
						<string>Josef Grinspun</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5ES55SHH2E.jg.pi4HomeApp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>5ES55SHH2E</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>5ES55SHH2E.jg.pi4HomeApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>pi4HomeApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>14e47580-a093-4a09-a0b6-5b1345635bb5</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5ES55SHH2E</string>
				<key>name</key>
				<string>Josef Grinspun</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
